<h1 align="center">目录</h1>
<h3 align="center"><%= link_to '填写周报', new_article_path %></h3>

<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th colspan="3"></th>
  </tr>
  <% @article.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= article.time %></td>
      <td><%= link_to '查看', article_path(article) %></td>
      <td><%= link_to '修改', edit_article_path(article) %></td>
      <td><%= link_to '删除', article_path(article),method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    
    </tr>
  <% end %>
</table>
<h3 align="center"><%= link_to '返回首页', controller: 'welcome' %></h3>